:root {
    --color1: #FFEEAD;
    --color2: #ff9c5b;
    --color3: #ff9b84;

    --morningMainColor: #fb9453;
    --morningHoverColor: #ff9e60;
    --dayMainColor: #6ccfef;
    --dayHoverColor: #86dbf8;
    --eveningMainColor: #895fa5;
    --eveningHoverColor: #a977cc;
    --nightMainColor: #5e64a4;
    --nightHoverColor: #686eb5;
}

body.morning {
    --color1: #FFEEAD;
    --color2: #ff9c5b;
    --color3: #ff9b84;
}

body.day {
    --color1: #9bf9ff;
    --color2: #6ccfef;
    --color3: #9bf179;
}

body.evening {
    --color1: #df817f;
    --color2: #484191;
    --color3: #665fa5;
}

body.night {
    --color1: #a2d7ea;
    --color2: #3f4275;
    --color3: #5f65a5;
}

body.morning .main-button {
    background-color: var(--morningMainColor);
    color: white;
}

body.morning .main-button:hover {
    background-color: var(--morningHoverColor);
    color: white;
}

body.morning .geolocation-button {
    color: var(--morningMainColor);
}

body.morning .geolocation-button:hover {
    color: var(--morningHoverColor);
}


body.day .main-button {
    background-color: transparent;
    border: 1px solid var(--dayMainColor);
    color: #333;
}

body.day .main-button:hover {
    background-color: var(--dayMainColor);
    color: white;
}

body.day .geolocation-button {
    color: var(--dayMainColor);
}

body.day .geolocation-button:hover {
    color: var(--dayHoverColor);
}

body.evening .main-button {
    background-color: transparent;
    border: 1px solid var(--eveningMainColor);
    color: #333;
}

body.evening .main-button:hover {
    background-color: var(--eveningHoverColor);
    color: white;
}

body.evening .geolocation-button {
    color: var(--eveningMainColor);
}

body.evening .geolocation-button:hover {
    color: var(--eveningHoverColor);
}

body.night .main-button {
    background-color: transparent;
    border: 1px solid var(--nightMainColor);
    color: #333;
}

body.night .main-button:hover {
    background-color: var(--nightMainColor);
    color: white;
}

body.night .geolocation-button {
    color: var(--nightMainColor);
}

body.night .geolocation-button:hover {
    color: var(--nightHoverColor);
}